PORT=PORT

# MongoDB
MONGO_URI=mongodb://localhost:27017/mydb

# PostgreSQL
POSTGRES_URI=postgresql://user:password@localhost:5432/mydb


JWT_SERCRET=<your_jwt_secret_key> //run: openssl rand -base64 32 to generate a secure random secret key


JWT_EXPIRES_IN=7d