.btn {
  border-radius: 8px;
  padding: 0.75rem 1.25rem;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
}

/* PRIMARY */
.btn-primary {
  background-color: buttonface;
  color: black;
  border: none;
}

.btn-primary:hover {
  background-color: #f3f4f6;
}

/* SECONDARY */
.btn-secondary {
  background-color: black;
  color: white;
  border: 1px solid #d1d5db;
}

.btn-secondary:hover {
  background-color: #1f2937;
}

/* DANGER */
.btn-danger {
  background-color: #dc2626;
  color: white;
}

.btn-danger:hover {
  background-color: #b91c1c;
}
