.select {
  width: 50%;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px 12px;
  outline: none;
  background-color: white;
  transition: border-color 0.2s ease;
}

.select:focus {
  border-color: black;
}

.form-field.error .select {
  border-color: red;
}

.form-field.error .select:focus {
  border-color: red;
}
